body{
  font-family: Lato;
.header{
  background: rgba(229, 84, 115, 0.10);

}


.banner{
  display: flex;
  padding: 0px 100px ;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
 

}
.nav-title{
  color: #272727;
  font-size: 70px;
  font-weight: 100px;
  gap: 0px;
  
}
.btn-primary{
  border-radius: 8px;
  background: #E55473;
  padding: 20px 40px;
  gap: 10px;

}
.optional-img{
  display: flex;
  justify-content: center;
  

}
.pic1{
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.pic2{
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.pic3{
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);;
}
.bonus{
  text-align: center;
}


.fram{
  color: #E55473;
}
.images{

  width: 500px;
 
} 

.deal{
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(229, 84, 115, 0.10) ;
}
.nav2-title{
  color: #272727;
font-size: 40px;
font-weight: 800;
gap: 0px;
}
.images2{
  width: 318px;
  height: 420px;
  flex-shrink: 0;
}
.ratul{
  text-align: center;
}
.photo{
  text-align: center;

}
.photo1{
  background: url('image/Flower 01.png'), lightgray 50% / cover no-repeat;
}
.photo2{
  background: url('image/Rectangle 4.png'), lightgray 50% / cover no-repeat;

}
.photo3{
  background: url('image/Rectangle 5.png'), lightgray 50% / cover no-repeat;
}
.photo4{
  background: url('image/Rectangle 6.png'), lightgray 50% / cover no-repeat;
}
.bacground{
  text-align: center;
  background-image: url('../image/Rectangle 9.png');
  border-radius: 8px;
  width: 1440px;
  height: 449px;
  flex-shrink: 0;
}
#email{
  margin-right: 20px;
  height: 50px;
  width: 600px;
}
.bonusmark{
  display: flex;
  background: #FFF8F3;
  padding: 130px 200px;
  margin-top: 100px;
  gap: 100px;

}

.footer-column{
  width: 50%;
}
#footer-paragraph{
  font-size: 15px;
}
.contact-form input[type="text"], .contact-form input[type="email"], 
textarea{
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius:5px ;
  background-color: #FFF;
  border: 0;
  width: 100%;

}
.contact-form input{

}
.social-link a{
  margin-right: 25 px;
}
.about{
  text-align: center;
  background: #111010;
  border-radius: 30px;
}
.color1{
  color: white;
}
